/* display.css */

/* .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
} 

.custom-header {
  font-size: 30px;
}
*/
h2 {
  font-size: 30px !important;
  margin-bottom: 20px !important;
  color: #0b0b0b;
}
h1 {
  font-size: 25px !important;
  margin-bottom: 20px !important;
  color: #0b0b0b;
}
table {
  width: 100%;
  border-collapse: collapse;
  color: #0b0b0b;
}

th, td {
  border: 1px solid #0a6f0d;
  font-size: 16px;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4bec4b;
}
td.data{
  font-size: 11px;
}

button.btn {
  padding: 8px 16px;
  background-color: #0a6f0d;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px; /* Adjust the value for more or less roundness */
}


button.btn:hover {
  background-color: #4bec4b;
}
.bg-customGreen {
  background-color: #0a6f0d;
}

.bg-customGreen:hover {
  background-color: #23B103; /* Optional hover color */
}
::placeholder{
  font-size: 11px;
  color :#0b0b0b;
}

input{
  background-color: white !important;
  color: black !important;
  border: 1px solid #4bec4b;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
}

input:focus {
  outline: none;
  background-color: white !important;
  color: black !important;
  border-color: #4bec4b !important;
}

select {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc !important;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc !important;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}


